In [1]:
import pandas as pd

In [10]:
df1 = {
    'love': 20,
    'death': 29,
    'robots': 12,
    'jenkins': 1
}

df2 = {'death': 20, 'jenkins': 19}

df1 = pd.DataFrame([df1])
df2 = pd.DataFrame([df2])

In [11]:
def preprocess(df1, df2):
    common_columns = df1.columns.intersection(df2.columns)
    print(common_columns)
    for column in common_columns:
        df1[column] = df1[column] - df2[column]
    return df1

In [12]:
res = preprocess(df1, df2)
res

Index(['death', 'jenkins'], dtype='object')

   love  death  robots  jenkins
0    20      9      12      -18